<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Lessthan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/css/style.less")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/css3-mediaqueries.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout.2.0.0.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("select, input[type='checkbox'], input[type='radio'], input[type='file']").uniform();
        });
    </script>
</head>
<body>
    <header>
        <div id="logo">
            <span class="txt">Lessthan</span>
            <q>&ldquo;Cloudy with a chance of timetracking&rdquo;</q>
        </div>
        <div id="search">
        
        </div>
        <div id="user">
            @Html.Partial("UserMenu")
        </div>
    </header>
     <section id="content">
        @RenderBody()
     </section>
    <footer>
        &copy; @DateTime.Now.Year - Developed by the mighty <abbr title="Luuk Sommers &amp; Thijs Kramer Development Team">LSTKDT</abbr> Team
    </footer>
</body>
</html>